In [18]:
import pandas as pd
import numpy as np
from pyecharts import Timeline
from pyecharts import Map

In [19]:
gdp = pd.read_csv('./data/GDP20.csv',encoding='utf-8')
gdp.head()

,country,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,1.250000e+10,1.600000e+10,1.720000e+10,1.820000e+10,1.910000e+10,2.000000e+10,2.040000e+10,1.890000e+10,2.410000e+10,...,2.890000e+10,3.240000e+10,3.390000e+10,3.850000e+10,3.950000e+10,4.750000e+10,5.130000e+10,5.490000e+10,6.300000e+10,6.580000e+10
1,Albania,1.220000e+10,1.360000e+10,1.470000e+10,1.300000e+10,1.460000e+10,1.590000e+10,1.700000e+10,1.820000e+10,1.880000e+10,...,2.110000e+10,2.230000e+10,2.350000e+10,2.490000e+10,2.670000e+10,2.760000e+10,2.850000e+10,2.930000e+10,3.010000e+10,3.070000e+10
2,Algeria,2.560000e+11,2.660000e+11,2.760000e+11,2.780000e+11,2.920000e+11,3.010000e+11,3.090000e+11,3.170000e+11,3.300000e+11,...,3.720000e+11,3.920000e+11,3.990000e+11,4.130000e+11,4.210000e+11,4.280000e+11,4.430000e+11,4.540000e+11,4.650000e+11,4.790000e+11
3,Andorra,1.580000e+09,1.620000e+09,1.690000e+09,1.820000e+09,1.860000e+09,1.930000e+09,1.960000e+09,2.210000e+09,2.380000e+09,...,2.820000e+09,3.040000e+09,3.190000e+09,3.190000e+09,3.060000e+09,2.900000e+09,2.810000e+09,2.730000e+09,NaN,NaN
4,Angola,3.010000e+10,3.460000e+10,4.150000e+10,4.380000e+10,4.380000e+10,4.520000e+10,4.650000e+10,4.800000e+10,5.500000e+10,...,6.310000e+10,7.610000e+10,9.020000e+10,1.110000e+11,1.270000e+11,1.300000e+11,1.340000e+11,1.390000e+11,1.460000e+11,1.520000e+11

In [20]:
#实例化Timeline
timeline = Timeline(is_auto_play=1,timeline_bottom=0)

In [21]:
col_names = gdp.columns.values.tolist()
max_gdp = 0
min_gdp = np.inf

#GDP取值范围
for col_name in col_names[1:]:
    colmax = max(gdp[col_name])
    colmin = min(gdp[col_name])
    if colmax > max_gdp:
        max_gdp = colmax
    if colmin < min_gdp:
        min_gdp = colmin

In [22]:
for col_name in col_names[1:]:
    value = list(gdp[col_name])
    attr = list(gdp.country)
    map = Map('The variation of GDP',width = 1200,height = 600)
    map.add('GDP', attr, value, maptype = 'world', is_visualmap = True,
           visual_text_color = '#000', is_map_symbol_show=False,
           visual_range = [min_gdp, max_gdp],
           visual_range_text = ['%.3f'%min_gdp, '%.3f'%max_gdp],
           visual_top = 'center')
    timeline.add(map, col_name)
timeline.render()

# 数据对数变换后20年动态变换

In [23]:
#取对数
def log(num):
    return np.log(num)

In [24]:
for col_name in col_names[1:]:
    value = list(gdp[col_name])
    deal_value = []
    for val in value:
        deal_value.append(log(val))
    value = deal_value
    attr = list(gdp.country)
    map = Map('The variation of GDP',width = 1200,height = 600)
    map.add('GDP', attr, value, maptype = 'world', is_visualmap = True,
           visual_text_color = '#000', is_map_symbol_show=False,
           visual_range = [log(min_gdp), log(max_gdp)],
           visual_range_text = ['%.3f'%log(min_gdp), '%.3f'%log(max_gdp)],
           visual_top = 'center')
    timeline.add(map, col_name)
timeline.render()

### 取对数后，各国之间的GDP差距变得很小，不易区分，故本题采取原始数据展现世界各国得GDP总量和动态变化